.sidebar {
    flex: 3;
    height: fit-content;
    margin: 20px 2px 20px 20px;
    padding-bottom: 30px;
    background-color: #fdfbfb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 70px;
}

.sidebarItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.sidebarTitle {
    margin: 10px;
    padding: 5px;
    width: 80%;
    border-top: solid 1px #a7a4a4;
    border-bottom: solid 1px #a7a4a4;
    text-align: center;
    font-family: "Varela Round", sans-serif;
    font-size: 12px;
    line-height: 19px;
    color: #222222;
    font-weight: 600;
}

.sidebarItem>img {
    margin-top: 15px;
    width: 100%;
}

.sidebarItem>p {
    padding: 5px;
}

.sidebarList {
    list-style-type: none;
    margin-bottom: 30px;
}

.sidebarListItem {
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    cursor: pointer;
}

.sidebarSocial {
    margin: 15px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebarSocial a i {
    color: rgb(79, 79, 79);
}

.sidebarSocial a i:hover {
    color: black;
}

.sidebarIcon {
    font-size: 16px;
    margin-left: 10px;
}

.sidebar button {
    color: white;
    background-color: teal;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 100%;
    margin: 5px 0;
    cursor: pointer;
    transition: background-color .3s linear;
}

.sidebar button:hover {
    background-color: rgb(3, 106, 106);
}

@media(max-width:600px) {
    .sidebar {
        margin: 20px 0;
    }
}